* {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Header */
header {
  display: flex;
  justify-content: space-between;
  padding: 20px 30px;
  line-height: 24px;
  align-items: center;
}

header a {
  text-decoration: none;
  white-space: nowrap;
  margin-right: 15px;
  color: #3b3b3b;
  font-size: 15px;
}

header a:hover {
  text-decoration: underline;
}

.header-right {
  display: flex;
  align-items: center;
  min-width: 13vw;
  justify-content: space-between;
}

.header-right .header-apps {
  margin-right: 10px;
}

main {
  display: flex;
  flex: 1;
  margin-top: 12%;
  flex-direction: column;
}

main img {
  object-fit: contain;
  height: 92px;
}

.search-input {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  height: 30px;
  padding: 10px 20px;
  border-radius: 999px;
  width: 75vw;
  margin: 0 auto;
  margin-top: 40px;
  max-width: 561px;
  box-shadow: 0 1px 6px 0 rgb(32 33 36 / 28%);
}

.search-input input {
  flex: 1;
  padding: 10px 20px;
  border: none;
  outline: none;
}

.search-input .material-icons {
  color: gray;
}

.search-buttons {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.search-buttons button {
  margin: 5px;
  padding: 10px 15px;
  background-color: #f8f8f8;
  outline: none;
  border: 1px solid #ffffff;
  border-radius: 5px;
  color: #3b3b3b;
  background-color: #eeeeee;
}

.search-buttons button:hover {
  border: 1px solid #c0c0c0;
  cursor: pointer;
}
